<mat-card class="example-card">
   <mat-card-header>
     <mat-card-title class="mountain-title">{{mountainInfo.title}}</mat-card-title>
     <img mat-card-avatar src={{logoUrl}} alt="logo of mountain"/>
   </mat-card-header>
   <img mat-card-image class="mountain-image" src={{imgUrl}} alt="photo of mountain">

   <mat-card-content>
     <ul>
        <li>Location: {{mountainInfo.location}}</li>
        <li>Current Weather: {{mountainInfo.currWeather}}</li>
        <li>Next Day ForeCast: {{mountainInfo.nextDayWeather}}</li>
        <li>Total Snow Fall: {{mountainInfo.totalSnowFall}}</li>

     </ul>
   </mat-card-content>

</mat-card>
