.example-card {
    width:350px;
    height:400px;
    background-color: #fff;
    outline: 1px solid green;
  }
  mat-card-header {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  mat-card-header > .mountain-title{
    font-size: 20px;
  }

 

 

   li {
    list-style: none;

   }