<mat-card class="example-card">
   <mat-card-header>
     <mat-card-title class="mountain-title">{{mountainInfo.title}}</mat-card-title>
     <img mat-card-avatar src={{logoUrl}} alt="logo of mountain"/>
   </mat-card-header>
   <img mat-card-image class="mountain-image" src={{imgUrl}} alt="photo of mountain">

   <mat-card-content>
     <ul>
        <li><b>Location:</b> {{mountainInfo.location}}</li>
        <li><b>Current Weather:</b> {{mountainInfo.currWeather}}</li>
        <li><b>Next Day ForeCast:</b> {{mountainInfo.nextDayWeather}}</li>
        <li><b>Total Snow Fall:</b> {{mountainInfo.totalSnowFall}}</li>

     </ul>
   </mat-card-content> 

</mat-card>
